@import "tailwindcss";

:root {
  --background-color: #24242c;
}
html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  font-family: "Nunito Sans", sans-serif;
}

input[type="checkbox"]:checked + .checkmark::before {
  content: "✔";
  font-size: 14px;
  color: #24242c;
  display: block;
  text-align: center;
  line-height: 16px;
}
